* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #16161A;
  color: aliceblue;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.title-app {
  margin: 1rem 0;
  font-weight: bold;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-items: center;
  background-color: #242629;
  border: 3px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 1rem;
  min-width: 250px;
}

.buttons-container {
  width: 100%;
  display: flex;
  column-gap: 5px;
  margin-top: .5rem;
}

.state-button,
.remove-button,
.submit-button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.state-button {
  width: 60%;
}

.remove-button {
  width: 40%;
  background-color: tomato;
}

.submit-button {
  width: 100%;
  background-color: #0d6efd;
}

.state-button:hover,
.remove-button:hover,
.submit-button:hover {
  opacity: 0.8;
}

input {
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

input::placeholder {
  color: white;
}