.img__image {
  margin: 2rem 0 1rem 0;
}

.btn__random {
	margin-bottom: 1rem;
}

.div__jokes {
	height: 300px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: italic;
	background-color: azure;
	color: #0A1929;
	font-weight: 600;
	border: 1px solid black;
	border-radius: 5px;
	padding: .5rem 1rem;
}

.btn__scores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: .5rem;
	padding: 2rem 1rem 1rem 1rem;
}

.btn__likes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 600;
}

.btn__record {
	display: flex;
	gap: 1rem;
	color: azure;
	margin: 0 auto;
}


